.RegularError {
    text-align: center;
    margin-top: 150px;
}

.RegularError-img {
    width: 200px;
}

.RegularError-msg {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.RegularError-text {
    color: #21C737;
    font-size: 14px;
}

.Button {
    background: white;
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    color: #171d30;
    font-size: 16px;
    margin: 10px;
    margin-bottom: 10px;
  }